*{margin:0;padding:0;box-sizing:border-box;}
body{overflow-x:hidden;}

.bg-dark{background:#000 !important;}

.nav-item a{color:#fff!important;font-size:17px!important;letter-spacing:1px;}

h1{text-shadow: 5px 5px #000;font-size: 60x;}
h4{font-weight:600;margin-top:5px;position:relative;top:3px;}
p{color:grey;font-size: 17px;}
.lead{color:grey;font-size: 17px;}
.num{display:flex;   color: green;margin-left:32px;
    font-size: 33px;}


li{white-space: nowrap;}

.yel{color:#f5b80f;}
.marg{margin-top: 30px;margin-bottom:30px;}

.new{border:1px solid #f5b80f;width:100%;}
.featurette-heading{font-size:27px;}

.featurette-headings{ font-size: 25px !important;
}

    .txt{display:flex;color:#fff; 
      font-size: 20px;font-weight:300;}


      .mtop{margin-top:100px;}

      .btns{position: relative !important;top:50% !important;left:30% !important;transform: translate(-50%,-50%) !important;}
.foot-para{font-size: 16px;}
.foot-paras{font-size: 15px;}
.col-md-2 img{    border: 1px solid #928787;
border-radius: 10px;padding:10px;}

.foot{ margin-top: -63px;}

.imgs{width:50;}

option{color:#000;}


  input,
  select,
  textarea,
  button {
    font-family: inherit;
    font-size: 100%;
  }
  
  button,
  label {
    cursor: pointer;
  }
  
  select {
    appearance: none;
  }
  
  /* Remove native arrow on IE */
  select::-ms-expand {
    display: none;
  }
  
 
  select:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 var(--white);
  }
  
  textarea {
    resize: none;
  }
  
  ul {
    list-style: none;
  }
  
  body {
    font: 18px/1.5 "Open Sans", sans-serif;
  }
  

  
  
  /* FORM ELEMENTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .my-form h1 {
    margin-bottom: 1.5rem;
  }
  
  .my-form li,
  .my-form .grid > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  
  .my-form select,
  .my-form input,
  .my-form textarea,
  .my-form button {
    width: 100%;
    line-height: 1.5;
    padding: 15px 10px;
    border: 1px solid var(--borderFormEls);
    color: var(--white);
    background: var(--bgFormEls);
    
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
      transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }
  
  .my-form textarea {
    height: 170px;
  }
  
  .my-form ::placeholder {
    color: inherit;
    /*Fix opacity issue on Firefox*/
    opacity: 1;
  }
  
  .my-form select:focus,
  .my-form input:focus,
  .my-form textarea:focus,
  .my-form button:enabled:hover,
  .my-form button:focus,
  .my-form input[type="checkbox"]:focus + label {
    background: var(--bgFormElsFocus);
  }
  
  .my-form select:focus,
  .my-form input:focus,
  .my-form textarea:focus {
    transform: scale(1.02);
  }
  
  .my-form *:required,
  .my-form select {
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 15px 15px;    border: 1px solid #8d8787;
  }
  
  .my-form *:required {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);  
  }
  
  .my-form select {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
  }
  
  .my-form *:disabled {
    cursor: default;
    filter: blur(2px);
  }
  
  
  /* FORM BTNS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .my-form .required-msg {
    display: none;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg)
      no-repeat center left / 15px 15px;
    padding-left: 20px;
  }
  
  .my-form .btn-grid {
    position: relative;
    overflow: hidden;
    transition: filter 0.2s;
  }
  
  .my-form button {
    font-weight: bold;
  }
  
  .my-form button > * {
    display: inline-block;
    width: 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .my-form button .back {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-110%, -50%);
  }
  
  .my-form button:enabled:hover .back,
  .my-form button:focus .back {
    transform: translate(-50%, -50%);
  }
  
  .my-form button:enabled:hover .front,
  .my-form button:focus .front {
    transform: translateX(110%);
  }
  
  
  /* CUSTOM CHECKBOX
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .my-form input[type="checkbox"] {
    position: absolute;
    left: -9999px;
  }
  
  .my-form input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding-left: 2rem;
    transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }
  
  .my-form input[type="checkbox"] + label::before,
  .my-form input[type="checkbox"] + label::after {
    content: '';
    position: absolute;
  }
  
  .my-form input[type="checkbox"] + label::before {
    left: 0;
    top: 6px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--white);
  }
  
  .my-form input[type="checkbox"]:checked + label::before {
    background: var(--red);
  }
  
  .my-form input[type="checkbox"]:checked + label::after {
    left: 7px;
    top: 7px;
    width: 6px;
    height: 14px;
    border-bottom: 2px solid var(--white);
    border-right: 2px solid var(--white);
    transform: rotate(45deg);
  }
  
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  footer {
    font-size: 1rem;
    text-align: right;
    backface-visibility: hidden;
  }
  
  footer a {
    text-decoration: none;
  }
  
  footer span {
    color: var(--red);
  }
  
  
  /* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (min-width: 600px) {
    .my-form .grid {
      display: grid;
      grid-gap: 1.5rem;
    }
  
    .my-form .grid-2 {
      grid-template-columns: 1fr 1fr;
    }
  
    .my-form .grid-3 {
      grid-template-columns: auto auto auto;
      align-items: center;
    }
  
    .my-form .grid > *:not(:last-child) {
      margin-bottom: 0;
    }
  
    .my-form .required-msg {
      display: block;
    }
  }
  
  @media screen and (min-width: 541px) {
    .my-form input[type="checkbox"] + label::before {
      top: 50%;
      transform: translateY(-50%);
    }
  
    .my-form input[type="checkbox"]:checked + label::after {
      top: 3px;
    }
  }

.blues{
  background-color:green;
  color: #fff;
  width: 190px;
  height:48px;
  top: -68px;
    left: 188px;
    position: relative;
    cursor: pointer;
  cursor: pointer;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 1.0em;
  border-radius: 2px;
  cursor: pointer;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 1.0em;
  font-weight: bold;
  border-width: 1px;
 


}
.blues:hover {
border-color: #002d59 #002d59 #000;
-moz-box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
-ms-box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.55), 1px 1px 3px rgba(0, 0, 0, .25);
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#3a8cdf ,EndColorStr=#0053a6);
background-image: -moz-linear-gradient(top,#3a8cdf 0,#0053a6 100%);
background-image: -ms-linear-gradient(top,#3a8cdf 0,#0053a6 100%);
background-image: -o-linear-gradient(top,#3a8cdf 0,#0053a6 100%);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#3a8cdf),color-stop(100%,#0053a6));
background-image: -webkit-linear-gradient(top,#3a8cdf 0,#0053a6 100%);
background-image: linear-gradient(to bottom,#3a8cdf 0,#0053a6 100%);
}

.blues:active {
border-color: #000 #002d59 #002d59;
-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
-ms-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
box-shadow: inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#005ab4,EndColorStr=#175ea6);
background-image: -moz-linear-gradient(top,#005ab4 0,#175ea6 100%);
background-image: -ms-linear-gradient(top,#005ab4 0,#175ea6 100%);
background-image: -o-linear-gradient(top,#005ab4 0,#175ea6 100%);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#005ab4),color-stop(100%,#175ea6));
background-image: -webkit-linear-gradient(top,#005ab4 0,#175ea6 100%);
background-image: linear-gradient(to bottom,#005ab4 0,#175ea6 100%);
}

.heading{position:relative;top:-20px;color:#fff;}


.line {
  border: 1px solid #29323c;
  opacity: 0.1;
  margin: 30px 0;
}
.boxes .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.boxes .container .card {
  background-color: #fff;
  border-radius: 4px;
  flex: 1;
  margin: 2%;
  min-width: 200px;
  min-height: 200px;
  text-align: center;
  align-items: center;
  padding: 0;
}
.boxes .container .card .card-header {
  width: 100%;
}
.boxes .container .card .card-content {
  margin-top: 40px;
}
.boxes .container .card.box1 {
  box-shadow: 0px 2px 15px 0px #000;
}
.boxes .container .card.box2 {
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
.boxes .container .card.box3 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.boxes .container .card.box4 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.boxes .container .card.box5 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.boxes .container .card.box6 {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.boxes .container .card.box7 {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.boxes .container .card.box8 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}



@media only screen and (max-width: 600px) {

body,html{overflow-x: hidden;}


  p {
    text-align:center;font-size :16px;
  }

  .lead {
    color: grey;
    font-size: 16px;
}


h1 {
  text-shadow: 5px 5px #000;
  font-size: 60x;
  text-align: center;
  font-size: 35px;
}

.foot-paras {
  font-size: 13px;
}


li {
  white-space: nowrap;
  font-size: 23px;}

  .two{ position: relative;
  left: -20px;
}
.three{    position: relative;
  left: -48px;}


  .four{    position: relative;
    /* left: -40px; */
    left: -23px;
    top: -19px;
    font-size: 13px;}

.five{position: relative;
  font-size: 13px;
  left: -8px;
  top: -20px;
}

.six{    font-size: 13px;
  position: relative;
  top: -20px;
  left: -44px;}

  .secimg{width: 279px;}


.my-center{text-align:center;}

.featurette-heading {
  font-size: 27px;
  text-align: center;}

  h2{font-size: 30px!important;text-align: :center!important;}

  .featurette-headings{text-align:center;  font-size: 24px !important;
  }
  
  .btns {
    position: relative !important;
    top: 50% !important;
    left: 29% !important;
    transform: translate(-50%,84%) !important;
}
.yel {
  color: #f5b80f;
  text-align: center;}


  .foot-para {
    font-size: 15px;
}


.my-form li, .my-form .grid > *:not(:last-child){

display: block;

}

.forms-layout{    border: 2px solid #000;
  background-color: #000;
  padding: 30px;
  border-radius: 20px;
  height: 880px !important;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -7%);
  width: 330px;
}

.blues {
  background-color: green;
  color: #fff;
  width: 190px;
  height: 48px;
  top: -83px;
  left: 60px;
  background-color: green;
  color: #fff;
  width: 190px;
  height: 48px;
  /* top: -83px; */
  /* left: 60px; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-300%);


}


  .col-md-2 img {
    border: 1px solid #928787;
    border-radius: 10px;
    padding: 5px;
    width: 135px;
}

.centerr{text-align: center;}

.banner{    background: #0d2d2a;
  padding: 40px;
  height: 1328px;}


  .num {
    display: flex;
    color: green;
    margin-left: -4px;
    font-size: 33px;
}
 .foot {
  margin-top: -103px;}

}




/*popup*/


 /* The popup form - hidden by default */
.form-popup {
	display: none;
	position: absolute;
  
    bottom: 0;
    /* right: 15px; */
    border: none !important;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-92%);
  }



  .frame {    margin-top:56px;
	height:570px;
	width: 430px;
	
  
  background:#e9353c;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	border-top: solid 1px rgba(255,255,255,.5);
    border-radius:20px;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	overflow: hidden;
	transition: all .5s ease;position: relative;

  
  }
  
  .frame-long {
	height: 570px;
  }
  
  .frame-short {
	height: 400px;
	margin-top: 50px;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
  }
  
  .nav {
	width: 100%;
	height: 100px;
	padding-top: 40px;
	opacity: 1;
	display:block;
	transition: all .5s ease;
  }
  
  .nav-up {
	transform: translateY(-100px);
	opacity: 0;
  }
  
::placeholder{color:#fff!important;}
  
  .signin-active a {line-height:29px;border:none;
	padding-bottom: 10px;
	color: #ffffff;
	text-decoration: none;
	
	transition: all .25s ease;
	cursor: pointer;
	 
    height: 42px;
    width: 134px;
	    position: relative;
    left:69px;
	color:#fff;border-radius:35px;

  }
  
  .signin-inactive a {
	padding-bottom: 0;
	
	text-decoration: none;
	border-bottom: none;
	cursor: pointer;
	    color: #fff !important;
  }
  
  .signup-active a {
	cursor: pointer;
	color: #ffffff;
	text-decoration: none;
	border-bottom: solid 2px #1059FF;
	padding-bottom: 10px;
  }
  .signin-active a:hover{border-bottom:none;color:#fff!important;}
   .signup-inactive a:hover{border-bottom:none;color:#fff!important;}
    .signin-active a:focus{border-bottom:none;color:#fff!important;}
   .signup-inactive a:focus{border-bottom:none;color:#fff!important;}
  
  .signup-inactive a {left:72px!important;position:relative!important;
   
	border:none;
	border-radius:35px;
	line-height:29px;
	border-radius:35px;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	transition: all .25s ease;position:relative;left:-10px;
	   
    height: 42px;
    width: 134px;
  }
  
  .form-signin {
	width: 430px;
	height: 375px;
	  font-size: 16px;
	  font-weight: 300;
	padding-left: 37px;
	padding-right: 37px;
	padding-top: 55px;
	transition: opacity .5s ease, transform .5s ease;
  }
  
  .form-signin-left {
	transform: translateX(-400px);
	opacity: .0;
  }
  
  .form-signup {
	width: 430px;
	height: 375px;
	  font-size: 16px;
	  font-weight: 300;
	padding-left: 37px;
	padding-right: 37px;
	padding-top: 55px;
	position: relative;
	top: -375px;
	left: 400px;
	opacity: 0;
	transition: all .5s ease;
  }
  
  .form-signup-left {
	transform: translateX(-399px);
	opacity: 1;
  }
  
  .form-signup-down {
	top: 0px;
	opacity: 0;
  }
  
  .success {
	width: 80%;
	height: 150px;
	text-align: center;
	position: relative;
	top: -890px;
	left: 450px;
	opacity: .0;
	transition: all .8s .4s ease;
  }
  
  .success-left {
	transform: translateX(-406px);
	opacity: 1;
  }
  
  .successtext {
	color: #ffffff;
	  font-size: 16px;
	  font-weight: 300;
	margin-top: -35px;
	padding-left: 37px;
	padding-right: 37px;
  }
  
  #check path {
	  stroke: #ffffff;
	  stroke-linecap:round;
	  stroke-linejoin:round;
	  stroke-width: .85px;
	  stroke-dasharray: 60px 300px;
	  stroke-dashoffset: -166px;
	  fill: rgba(255,255,255,.0);
	  transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s;
  }
  
  #check.checked path {
	  stroke-dashoffset: 33px;
	  fill: rgba(255,255,255,.03);
  }
  
  .form-signin input, .form-signup input {
	color: #ffffff;
	font-size: 13px;
  }
  
  .form-styling {
	width: 100%;
	height: 35px;
	  padding-left: 15px;
	  border: none;
	  transform: skew(
		-10deg
		);
	
	margin-bottom: 20px;
	background: rgba(255,255,255,.2);
  }
  
  label {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 13px;
	padding-left: 15px;
	padding-bottom: 10px;
	color: rgba(255,255,255,.7);
	display: block;
  }
  
  :focus {outline: none;
  }
  
  .form-signin input:focus, textarea:focus, .form-signup input:focus, textarea:focus {
	  background: rgba(255,255,255,.3);
	  border: none; 
	  padding-right: 40px;
	  transition: background .5s ease;
   }
  
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
	position: absolute;
	display: none;
  }
  
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
	position: relative;
	padding-left: 85px;
	padding-top: -2px;
	cursor: pointer;
	margin-top: 2px;
  }
  
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
	content: '';
	position: absolute;
  }
  
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
	width: 65px; 
	height: 30px;
	background: rgba(255,255,255,.2);
	border-radius: 15px;
	left: 0; 
	top: -3px;
	transition: all .2s ease;
  }
  
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
	width: 10px; 
	height: 10px;
	background: rgba(255,255,255,.7);
	border-radius: 50%;
	top: 7px; 
	left: 10px;
	transition: all .2s ease;
  }
  
  /* on checked */
  [type="checkbox"]:checked + label:before {
	background: #0F4FE6; 
  }
  
  [type="checkbox"]:checked + label:after {
	background: #ffffff;
	top: 7px; 
	left: 45px;
  }
  
  [type="checkbox"]:checked + label .ui,
  [type="checkbox"]:not(:checked) + label .ui:before,
  [type="checkbox"]:checked + label .ui:after {
	position: absolute;
	left: 6px;
	width: 65px;
	border-radius: 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	transition: all .2s ease;
  }
  
  [type="checkbox"]:not(:checked) + label .ui:before {
	content: "no";
	left: 32px;
	color: rgba(255,255,255,.7);
  }
  
  [type="checkbox"]:checked + label .ui:after {
	content: "yes";
	color: #ffffff;
  }
  
  [type="checkbox"]:focus + label:before {
	box-sizing: border-box;
	margin-top: -1px;
  }
  
  .btn-signup {
	float: left;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	color: #fff !important;
	padding-top: 11px;
   width: 33%;
	  height: 39px;
	  border: none;
	  border-radius: 10px;
	margin-top: 23px;
	background:#008632!important;
	position: relative !important;
	  left: 110px !important;
	  border: none;
	  border-radius: 20px;
	margin-top:-1px;
	background-color: #1059FF;
  }
  
  .btn-signin {
	float: left;
	padding-top: 8px;
	width: 100%;
	height: 35px;
	  border: none;
	  border-radius: 20px;
	margin-top: -8px;
  }
  
  .btn-animate {
	float: left;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	color:#fff;
	padding-top: 11px;
  width: 33%;
	  height: 39px;
	  border: none;
	  border-radius:35px;
	margin-top: 23px;
    background:#008632;
	position: relative !important;
	  left: 117px !important;
	left: 0px;
	top: 0px;
	transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s; 
  }
  
  .btn-animate-grow {
	width: 130%;
	height: 625px;
	position: relative;
	left: -55px;
	top: -420px;
	color: rgba(255,255,255,0);
	background-color: rgba(255,255,255,1);
  }
  
  a.btn-signup:hover, a.btn-signin:hover {
	  cursor: pointer; 
	 
	  transition: background-color .5s; 
  }
  
  
  @media only screen and (max-width: 768px) {

  header {
    position: relative;
    background: #0b345d;
    background-image: url(images/rum.jpeg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 206px!important;
      background-position: 61% 100%;}
  
  
  .navbar-mainbg {
    background: #b60007 !important;
    padding: 0px -7px;
    padding: 0px;
    margin: -17px 0px;
}



.button-two {
    border-radius: 4px;
    background-color: #fca301;
    border: none;
    height: 20px !important;
    line-height: 1px;
    padding: 16px!important;
    font-size: 14px!important;
    width: 73px!important;
transition: all 0.5s!important;}

.plays {
display:none;}

.lead {
    color: grey;
    font-size: 16px;
text-align: justify;}

.square-grad{    border-radius: 0px;
    font-size: 16px;
    padding: 15px 30px;
    text-decoration: none;
margin-left: 51px!important;}

.mob{width: 326px;
    height: 278px;
}

.rummy-tb{    background: #f4eeee;
    height: 382px!important;
    overflow-y: scroll!important;
    margin-top: 280px!important;
}
.nav {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
margin-top: -46px!important;}


footer {
    background-color: #b60007;
    height: 1298px;
}
  
  .footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px !important;
    position: relative!important;
    left: -80px!important;
  text-transform: uppercase;}
  
  .imd {
    width: 60px;
    height: 30px;
  border-radius: 26px;position:relative!important; left:-7px !important;}
  
  
  .footer-content-column ul li a {
    color: #fff;
    font-size: 16px!important;
    text-decoration: none;
}

.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
font-size: 14px !important;}

.stck{margin-left: -76px!important;
    margin-bottom: -37px!important;
}
  
  
  
  .frame {
    margin-top: 56px;
    height: 570px;
    width: 352px!important;
  }
  
  .form-styling {
  width: 80%!important;}
  
  h5{    position: relative;
    top: -18px;margin-left:-60px;
}

.logg {
    border-radius: 4px!important;
    background-color: #fca301!important;
    border: none!important;
    height: 37px!important;
margin-left: -80px;}

.btt{margin-top: 30px!important;    margin-left: -18px!important;}


#closes {
    position: relative!important;
    top: -348px!important;
    left: 289px!important;
}
  #close {
    position: relative!important;
    top: -518px!important;
    left: 278px!important;
}

.carousel-caption h2{font-size:20px !important;}

	.ply{    width: 140px !important;
    height: 43px !important;
    position: relative!important;
    top: 210px!important;
    left: 101px!important;
}
  
  .del{    margin-left: -41px!important;}
  
  .featurette-heading {
    font-size: 27px;
    text-align: center;
   
}
  
  h2{font-size:27px!important;}
  
  
  .featurette-image {margin-top: -66px;}
  
  .dd{display:none;}
  
  
  .app {
    width: 230px !important;
    height: 46px!important;
    /* left: 35px; */
    /* z-index: 9999; */
    /* top: 4562px; */
    color: #0b133a !important;
    position: relative !important;
    top: -7px !important;
    left: 75px !important;
    font-size: 17px;
  letter-spacing: 2px;}
  .app{display:block!important;}
  
  
  .my-btn {
    width: 210px;
    height: 40px;
    position: relative;
    top: -737px;
    left: 1003px;
    background-image: linear-gradient(
315deg
, #fbb034 0%, #ffdd00 74%);
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.download {
    background: #e9353c;
    position: fixed;
    display: block!important;
    /* top: 227px; */
    z-index: 999;
    display: block;
    width: 100%;
      bottom: -43px;
    margin-left: 1px;
    padding: 21px 0px;
    height: 113px;
    padding: 63px -23px;
}
  .and{    margin-top: -7px;}

  }
  
  
  @media only screen and (min-width:360px)and (max-width:420px) {
  .loga{position: relative;
    left: -40px;
}
.ps{position:relative!important;left:-122px!important;}

.stck{    position: relative!important;
left: -19px!important;}

.mains {
    display: flex!important;
    position: relative !important;
    top: -354px!important;
    z-index: 9999!important;
    left: 166px!important;
}

.top-nav {
    background: red;
    text-align: center;
    z-index: 999;
    height: 84px !important;
}

  }
  
  
  /*css*/
  
	#udd{display:none;}
	
header {
  position: relative;
  
  background: #0b345d;
  background-image:url(images/rum.jpeg);width:100%;background-size:cover;background-repeat:no-repeat;
  height:700px;background-position:center center;
}

.plays{position:absolute;top:50%;left:75%;transform:translate(-50%,-50%);border-radius: 4px;
    background-color: #fca301;
    border: none;
    height: 47px;
    line-height: 1px;
    padding: 20px;
    font-size: 17px;
    width: 250px;
	font-weight:700;

    transition: all 0.5s;}


header h1 {
  color: white;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

section {
  margin: 5% 10%;
}

h1 {
  margin: 0;
  text-align: center;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    white-space: nowrap;
    font-weight: 600;
    font-size: 13px;}
	


	.cards {
		margin: 0 auto;
		border: none;
	}
	.cards .carousel-item {
		min-height: 190px;
	}
	.cards .carousel-caption {
		padding: 0;
		right: 15px;
		left: 15px;
		top: 15px;
		color: #3d3d3d;
		border: 1px solid #ccc;
		min-height:175px;
		padding: 15px;
	}
	.cards .carousel-caption .col-sm-3 {
		display: flex;
		align-items: center;
	}
	.cards .carousel-caption .col-sm-9 {
		text-align: left;
	}
	.cards .carousel-control-prev, .card .carousel-control-next {
		color: #3d3d3d !important;
		opacity: 1 !important;
	}
	.carousel-control-prev-icon, .carousel-control-next-icon {
		background-image: none;
		color: #fff;
		font-size: 14px;
		background-color:#800a0e;
		height: 32px;
		line-height: 32px;
		width: 32px;
		margin-top: 33px;
	
	}
	.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
		opacity: 0.85;
	}
	.carousel-control-prev {
		left: 40%;
		top: 110%;
	}
	.carousel-control-next {
		right: 40%;
		top: 110%;
	}
	.midline {
		width: 60px;
		border-top: 1px solid #d43025;
	}

	.small, small {
		font-size: 95% !important;
		font-weight: 400;
	}
	.carousel-caption h2 {
		font-size: 22px;
	}
	.carousel-caption h2 span {
		color: #cd3a54;
	}
	 @media (min-width: 320px) and (max-width: 575px) {
	.carousel-caption {
		position: relative;
	}
	.cards .carousel-caption {
		left: 0;
		top: 0;
		margin-bottom: 15px;
	}
	.cards .carousel-caption img {
		margin: 0 auto;
	}
	.carousel-control-prev {
		left: 35%;
		top: 105%;
	}
	.carousel-control-next {
		right: 35%;
		top: 105%;
	}
	.cards .carousel-caption h3 {
		margin-top: 0;
		font-size: 16px;
		font-weight: 700;
	}
	}
	@media (min-width: 576px) and (max-width: 767px) {
	.carousel-caption {
		position: relative;
	}
	.cards .carousel-caption {
		left: 0;
		top: 0;
		margin-bottom: 15px;
	}
	.cards .carousel-caption img {
		margin: 0 auto;
	}
	.cards .carousel-caption h3, .card .carousel-caption small {
		text-align: center;
	}
	.carousel-control-prev {
		left: 35%;
		top: 105%;
	}
	.carousel-control-next {
		right: 35%;
		top: 105%;
	}
	}
	@media (min-width: 767px) and (max-width: 991px) {
	.cards .carousel-caption h3 {
		margin-top: 0;
		font-size: 16px;
		font-weight: 700;
	}
	}
	

 

.square {
  background: #0069eb;
  color: #fff;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  padding: 15px 30px;
  text-decoration: none; }
  
  
  .square-grad {
  background: #cb60b3;
  background: -webkit-linear-gradient(top, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%);
  color: #fff;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  padding: 15px 30px;
  text-decoration: none;
margin-left:185px;  }







/*footer*/


	.pg-footer {
		font-family: "Khand", sans-serif;
	  }
	  
	  
	  .footer {
		  background-color: #b60007;
	  }
	  .footer-wave-svg {
		  background-color: transparent;
		  display: block;
		  height: 30px;
		  position: relative;
		  top: -1px;
		  width: 100%;
	  }
	  .footer-wave-path {
		  fill: #fffff2;
	  }
	  
	  .footer-content {
		  margin-left: auto;
		  margin-right: auto;
		  max-width: 1230px;
		  padding: 13px 15px 400px!important;
		  position: relative;
	  }
	  
	  .footer-content-column {
		  box-sizing: border-box;
		  float: left;
		  padding-left: 15px;
		  padding-right: 15px;
		  width: 100%;
		  color: #fff;
	  }
	  
	  .footer-content-column ul li a {
		color: #fff;
		text-decoration: none;
	  }
	  
	  .footer-logo-link {
		  display: inline-block;
	  }
	  .footer-menu {
		  margin-top: 30px;
	  }
	  
	  .footer-menu-name {
		  color: #fffff2;
		  font-size: 15px;
		  font-weight: 900;
		  letter-spacing: .1em;
		  line-height: 18px;
		  margin-bottom: 0;
		  margin-top: 0;
		  position:relative;
		  left:-110px;
		  text-transform: uppercase;
	  }
	  .footer-menu-list {
		  list-style: none;
		  margin-bottom: 0;
		  margin-top: 10px;
		  padding-left: 0;
	  }
	  .footer-menu-list li {
		  margin-top: 5px;text-align:justify;
	  }
	  
	  .footer-call-to-action-description {
		  color: #fffff2;
		  margin-top: 10px;
		  margin-bottom: 20px;
	  }
	  .footer-call-to-action-button:hover {
		  background-color: #fffff2;
		  color: #00bef0;
	  }
	  .button:last-of-type {
		  margin-right: 0;
	  }
	  .footer-call-to-action-button {
		  background-color: #027b9a;
		  border-radius: 21px;
		  color: #fffff2;
		  display: inline-block;
		  font-size: 11px;
		  font-weight: 900;
		  letter-spacing: .1em;
		  line-height: 18px;
		  padding: 12px 30px;
		  margin: 0 10px 10px 0;
		  text-decoration: none;
		  text-transform: uppercase;
		  transition: background-color .2s;
		  cursor: pointer;
		  position: relative;
	  }
	  .footer-call-to-action {
		  margin-top: 30px;
	  }
	  .footer-call-to-action-title {
		  color: #fffff2;
		  font-size: 14px;
		  font-weight: 900;
		  letter-spacing: .1em;
		  line-height: 18px;
		  margin-bottom: 0;
		  margin-top: 0;
		  text-transform: uppercase;
	  }
	  .footer-call-to-action-link-wrapper {
		  margin-bottom: 0;
		  margin-top: 10px;
		  color: #fff;
		  text-decoration: none;
	  }
	  .footer-call-to-action-link-wrapper a {
		  color: #fff;
		  text-decoration: none;
	  }
	  
	  
	  
	  
	  
	  .footer-social-links {
		  bottom: 0;
		  height: 54px;
		  position: absolute;
		  right: 0;
		  width: 236px;
	  }
	  
	  .footer-social-amoeba-svg {
		  height: 54px;
		  left: 0;
		  display: block;
		  position: absolute;
		  top: 0;
		  width: 236px;
	  }
	  
	  .footer-social-amoeba-path {
		  fill: #800a0e;
	  }
	  
	  .footer-social-link.linkedin {
		  height: 26px;
		  left: 3px;
		  top: 11px;
		  width: 40px;
	  }
	  
	  .footer-social-link {
		  display: block;
		  padding: 10px;
		  position: absolute;
	  }
	  
	  .hidden-link-text {
		  position: absolute;
		  clip: rect(1px 1px 1px 1px);
		  clip: rect(1px,1px,1px,1px);
		  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
		  clip-path: inset(0px 0px 99.9% 99.9%);
		  overflow: hidden;
		  height: 1px;
		  width: 1px;
		  padding: 0;
		  border: 0;
		  top: 50%;
	  }
	  
	  .footer-social-icon-svg {
		  display: block;
	  }
	  
	  .footer-social-icon-path {
		  fill: #fffff2;
		  transition: fill .2s;
	  }
	  
	  .footer-social-link.twitter {
		  height: 28px;
		  left: 62px;
		  top: 3px;
		  width: 40px;
	  }
	  
	  .footer-social-link.youtube {
		  height: 24px;
		  left: 123px;
		  top: 12px;
		  width: 40px;
	  }
	  
	  .footer-social-link.github {
		  height: 34px;
		  left: 172px;
		  top: 7px;
		  width: 40px;
	  }
	  
	  .footer-copyright {
		  background-color: #800a0e;
		  color: #fff;
		  padding: 15px 30px;
		text-align: center;
	  }
	  
	  .footer-copyright-wrapper {
		  margin-left: auto;
		  margin-right: auto;
		  max-width: 1200px;
	  }
	  
	  .footer-copyright-text {
		color: #fff;
		  font-size: 18px;
		  font-weight: 400;
		  line-height: 18px;
		  margin-bottom: 0;
		  margin-top: 0;
	  }
	  
	  .footer-copyright-link {
		  color: #fff;
		  text-decoration: none;
	  }
	  .footer-copyright-text:hover{color:#fff;}
	  
	  
	  
	  
	  
	  
	  /* Media Query For different screens */
	  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
		.footer-content {
		  margin-left: auto;
		  margin-right: auto;
		  max-width: 1230px;
		  padding: 40px 15px 1050px;
		  position: relative;
		}
	  }
	  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
		.footer-content {
		  margin-left: auto;
		  margin-right: auto;
		  max-width: 1230px;
		  padding: 20px 15px 1050px;
		  position: relative;
		}
	  }
	  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
		.footer-content {
		  margin-left: auto;
		  margin-right: auto;
		  max-width: 1230px;
		  padding: 20px 15px 1050px;
		  position: relative;
		}
	  }
	  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
	  
	  }
	  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
	  
	  }
	  @media (min-width:1281px) { /* hi-res laptops and desktops */
	  
	  }
	  
	  
	  
	  
	  @media (min-width: 760px) {
		.footer-content {
			margin-left: auto;
			margin-right: auto;
			max-width: 1230px;
			padding: 20px 15px 450px;
			position: relative;
		}
	  
		.footer-wave-svg {
			height: 50px;
		}
	  
		.footer-content-column {
			width: 24.99%;
		}
	  }
	  @media (min-width: 568px) {
		/* .footer-content-column {
			width: 49.99%;
		} */
	  }
	  
	  
	  .imd {
    width: 60px;
    height: 30px;
    border-radius: 26px;
	position:relative;left:-33px;
}

.footer-logo{position: relative;
    left: -145px;
}






/*Button Two*/
.button-two {
border-radius: 4px;
    background-color:#fca301;
    border: none;

    height:37px;
    line-height: 1px;
    padding: 20px;
    font-size: 17px;
    width: 106px;
    transition: all 0.5s;
}


.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-two span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-two:hover span {
  padding-right: 25px;
}

.button-two:hover span:after {
  opacity: 1;
  right: 0;
}


.tab_div {
  width: 100%;
  transform: translateZ(0);
}

.tabs_menu {
  /*   background-color:blue; */
  padding-top: 1%;
  width: 20%;
  float: left;
}

ul.tabs {
  padding: 0;
}

#tab1,
#tab2,
#tab3,
#tab4 {
  padding-top: 10%;
  padding-bottom: 20%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

ul.tabs li {
  list-style-type: none;
  font-family: Quicksand;
  border-right: 2px solid white;
  font-size: 18px;
  color: white;
  /*   transition: background-color 0.2s ease; */
}


/* ul.tabs li:hover {
  border-right: 2px solid #e1386c;
  background-color: rgba( 255, 155, 180, .9);
  font-weight: bold;
} */

#tab1_content,
#tab2_content,
#tab3_content,
#tab4_content {
  /*   background-color:red; */
  float: right;
  width: 70%;
  height: auto;
  padding-top: 5%;
}



/* hover effect */

ul.tabs li {
  display: inline-block;
  position: relative;
  padding: 1em;
  cursor: pointer;
  background: #17171e;
  color: white;
  z-index: 0;
}

ul.tabs li:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff9bb4;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .5s ease-out;
}

ul.tabs li:hover:before {
  transform: scaleX(1);
}



#accordion .card {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid #d1d3d4;
}
#accordion .card .card-header {
  background: none;
  border: none;
  padding: 25px 0;
}
#accordion .card .card-header.top-headline {
  padding: 0 0 25px;
}
#accordion .card .card-body {
  padding: 0 0 25px;
}
.vertical-tabs .nav-link {
  text-transform: uppercase;
  color: #645d5d;;
  font-family: "azo-sans-web", sans-serif;
  font-size: 12px;
  font-weight: 600;
  border-radius: 0;
  padding: 30px;
}
@media (min-width: 768px) {
  .vertical-tabs .nav-link {
    border-bottom: 1px solid #d1d3d4;
  }
}
.vertical-tabs .nav-link.active {
  background: #fca500;
  color: #fff;
  border-bottom: none;
}
.vertical-tabs .tab-content {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .vertical-tabs .tab-content {
    margin-top: 22px;
  }
}



#closes{    position: relative;
    top: -380px;
    left: 358px;
}
	 #close {
    position: relative;
    top: -487px;
    left: 358px;
}
	   
   a:hover{text-decoration:none;}



.logg{border-radius: 4px!important;
    background-color:#fca301!important;
    border: none!important;

    height:37px!important;
    line-height: 1px!important;
    padding: 20px!important;
    font-size: 17px!important;
    width: 106px!important;
    transition: all 0.5s!important;}
	
	
	
	
   .mains {
    display: flex!important;
    position: relative;
    top: -830px;
    z-index: 9999!important;
    left:902px;
}


.logo{margin-left:-100px;}

.top-nav {
  background: #b60007;
  text-align: center;

  z-index: 999;
  width: 100%;
  height:70px;
  /* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
}
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(173, 216, 230, .75);
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before, .nav-toggle-label span::after {
  content: '';
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: blue;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  color: #fca301;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo {
    grid-column: 2 / 3;
  }
  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    /* end Edge support stuff */
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: '';
    display: block;
    height: 3px;
    background: #fca301;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1, 1);
  }
}




	
	@media only screen and (min-width:360px) and (max-width:365px){
	.nav-toggle-label {
    position: absolute;
    top:5px;
    left: 287px;
    margin-left: 1em;
    height: 100%;
    display: flex;
	dis
    align-items: center;}
	
	.mains {
    display: flex!important;
    position: relative !important;
    top: -349px!important;
    z-index: 9999!important;
    left: 104px!important;    width: 40px!important;}
	
	.logo {
    margin-left: -239px;
}

.top-nav {
    background:#b60007;
    text-align: center;
    z-index: 999;
    height: 61px !important;
}

.los{    width: 70px;
    margin-top: 2px;
}

.app {
    width: 230px !important;
    height: 46px!important;
    /* left: 35px; */
    /* z-index: 9999; */
    /* top: 4562px; */
    color: #0b133a !important;
    position: relative !important;
    top: -7px !important;
    left: 69px !important;
    font-size: 17px;
    letter-spacing: 2;}
	
	
	.ps {
    position: relative!important;
    left: -128px!important;}
	}
	
	
	
	@media only screen and (min-width:365px) and (max-width:400px){
		
		.ps {
    position: relative!important;
    left: -134px!important;
}

.nav-toggle-label {
    position: absolute;
    top: 5px;
    left: 287px;
    margin-left: 1em;
    height: 100%;
    display: flex;
align-items: center;}

.stck {
    position: relative!important;
left: -25px!important;}

.los{    position: relative;
    left: -71px;
}

.mains {
    display: flex!important;
    position: relative !important;
    top: -360px!important;
    z-index: 9999!important;
    left: 108px!important;    width: 30px !important;
}
	.ply {
    width: 140px !important;
    height: 43px !important;
    position: relative!important;
    top: 240px!important;
    left: 110px!important;}	
	
	.trusted{margin-top:30px;}
	}
	
	@media only screen and (min-width: 400px) and (max-width:424px){
.nav-toggle-label {
    position: absolute;
    top: 5px;
    left: 328px;
    margin-left: 1em;
    height: 100%;
    display: flex;
  
  
    align-items: center;}
	
	.los {
    width: 70px!important;
    margin-left: -43px!important;
    margin-top: 3px!important;}
	
.mains {
    display: flex!important;
    position: relative !important;
    top: -351px!important;
    z-index: 9999!important;
    left: 120px!important;    width: 40px !important;

}
.los {
    width: 70px!important;
    margin-left: -202px!important;
    margin-top: 3px!important;
}
	
	.top-nav {
    background:#b60007;
    text-align: center;
    z-index: 999;
    height: 66px !important;}
	
	.download {
    background: #e9353c;
    position: fixed;
    display: block!important;
    /* top: 227px; */
    z-index: 999;
    display: block;
    width: 100%;
    bottom: -43px;
    margin-left: 1px;
    padding: 21px 19px;
    height: 113px;
    padding: 63px -23px;}
	
	
	.ps {
    position: relative!important;
    left: -176px!important;}
	
	
	.stck {
    position: relative!important;
    left: -61px!important;}
	
	.secure{position:relative!important;left:-92px!important;}
	.loga {
    position: relative;
    left: -77px;
}

.ply {
    width: 140px !important;
    height: 43px !important;
    position: relative!important;
    top: 260px!important;
left: 130px!important;}

.trusted{    margin-top: 28px!important;}
	
	}


@media only screen and (min-width: 425px) and (max-width:440px){
	.ps {
    position: relative!important;
    left: -205px!important;}
	
	.nav-toggle-label {
    position: absolute;
    top: 9px;
    left: 347px;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;}
	
	.los{    position: relative;
    left: -94px;}
	
	.mains {
    display: flex!important;
    position: relative;
    top: -359px;
    z-index: 9999!important;
    left: 134px;width:40px !important;}
	
	
	.app {
    width: 230px !important;
    height: 46px!important;
    /* left: 35px; */
    /* z-index: 9999; */
    /* top: 4562px; */
    color: #0b133a !important;
    position: relative !important;
    top: -7px !important;
    left: 105px !important;}
	
	.top-nav {
    background: #b60007;
    text-align: center;
    z-index: 999;
    width: 100%;
    height: 85px !important;}
	
		.secure{position:relative!important;left:-118px!important;}
		
		
		.stck {
    margin-left: -141px!important;
    margin-bottom: -37px!important;
    position: relative;
		left: -96px;}
		
		.loga{position:relative!important;left:-106px!important;}
		
		
		.ply {
    width: 140px !important;
    height: 43px !important;
    position: relative!important;
    top: 278px!important;
		left: 137px!important;}
		
		.trusted{    margin-top: 33px !important;}
	
}


@media only screen and (min-width: 441px) and (max-width:500px){
	.ps {
    position: relative!important;
    left: -207px!important;}
	
	.secure{position:relative!important;left:-123px!important;}
	
			.stck {
    margin-left: -141px!important;
    margin-bottom: -37px!important;
    position: relative;
		left: -103px;}
		
		.loga{    position: relative!important;
    left: -114px!important;
}

.top-nav {
    background: #b60007;
    text-align: center;
    z-index: 999;
    width: 100%;
    height: 70px;
height: 70px !important;}

.los{position: relative;
    left: -105px;
    width: 80px;
top: 2px;}


.nav-toggle-label {
    position: absolute;
    top: 6px;
    left: 365px;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.mains {
    display: flex!important;
    position: relative;
    top: -353px;
    z-index: 9999!important;
    left: 132px;
}

.ply {
    width: 140px !important;
    height: 43px !important;
    position: relative!important;
    top: 288px!important;
left: 139px!important;}
.trusted{margin-top:30px !important;}


.app {
    width: 230px !important;
    height: 46px!important;
    /* left: 35px; */
    /* z-index: 9999; */
    /* top: 4562px; */
    color: #0b133a !important;
    position: relative !important;
    top: -7px !important;
    left: 123px !important;
    font-size: 17px;
letter-spacing: 2px;}


}
