@media only screen and (min-width: 441px) and (max-width:500px){
	.ps {
    position: relative!important;
    left: -207px!important;}
	
	.secure{position:relative!important;left:-123px!important;}
	
			.stck {
    margin-left: -141px!important;
    margin-bottom: -37px!important;
    position: relative;
		left: -103px;}
		
		.loga{    position: relative!important;
    left: -114px!important;
}

.top-nav {
    background: #b60007;
    text-align: center;
    z-index: 999;
    width: 100%;
    height: 70px;
height: 70px !important;}

.los{position: relative;
    left: -105px;
    width: 80px;
top: 2px;}


.nav-toggle-label {
    position: absolute;
    top: 6px;
    left: 365px;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.mains {
    display: flex!important;
    position: relative;
    top: -353px;
    z-index: 9999!important;
    left: 132px;
}

.ply {
    width: 140px !important;
    height: 43px !important;
    position: relative!important;
    top: 288px!important;
left: 139px!important;}
.trusted{margin-top:30px !important;}


.app {
    width: 230px !important;
    height: 46px!important;
    /* left: 35px; */
    /* z-index: 9999; */
    /* top: 4562px; */
    color: #0b133a !important;
    position: relative !important;
    top: -7px !important;
    left: 123px !important;
    font-size: 17px;
letter-spacing: 2px;}


}
